<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Etusivu</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <meta charset="UTF-8"/>
        
    </head>
    <body>
        <ol>
            <li th:each="kategoria : ${kategoriat}">
                <a th:href="@{/kategoriat/{id}(id=${kategoria.id})}">
                    <span th:text="${kategoria.nimi}">Kategorian nimi</span>
                </a>
            </li>    
        </ol>
        
        <h1>Uusimmat uutiset:</h1>
        <ul>
            <li th:each="uutinen : ${loopit}">
                <a th:href="@{/{id}(id=${uutinen.id})}">
                    <span th:text="${uutinen.otsikko}">Uutisen otsikko</span>
                    <span th:text="${uutinen.ingressi}">Uutisen ingressi</span>
                    <img th:src="@{/files/{id}(id=${uutinen.id})}"></img>
                </a>
            </li> 
        </ul>
        
        <h2>Kaikki uutiset: </h2>
        
        <ul>
            <li th:each="uutinen : ${uutiset}">
                <a th:href="@{/{id}(id=${uutinen.id})}">
                    <span th:text="${uutinen.otsikko}">Uutisen otsikko</span>
                </a>
            </li>    
        </ul>   
        
<!--        <p>Onko sinulla uusi lääketieteellinen uutinen? Paina alla olevasta linkistä niin pääset julkaisemaan sen!</p>-->
        
<!--        <a href:="@{/form}">Uusi uutinen!</a>-->
        
    </body>
</html>

<!--Näiden pitäisi pystyä tuottamaan kuvia niin kuin tehtävässä sanotaan!-->
