<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Etusivu</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        
        
    </head>
    <body class="container">
        <ul class="nav navbar-nav">
            <li th:each="kategoria : ${kategoriat}">
                <a th:href="@{/kategoriat/{id}(id=${kategoria.id})}">
                    <span th:text="${kategoria.nimi}">Kategorian nimi</span>
                </a>
            </li> 
        </ul>
        <br>
            
        </br>
        
        <h1>Uusimmat uutiset:</h1>
        <ul>
            <li th:each="uutinen : ${loopit}">
                <a th:href="@{/{id}(id=${uutinen.id})}">
                    <span th:text="${uutinen.otsikko}">Uutisen otsikko</span>
                    <span th:text="${uutinen.ingressi}">Uutisen ingressi</span>
                    <img th:src="@{/files/{id}(id=${uutinen.id})}"></img>
                </a>
            </li> 
        </ul>
        
        <br></br>
        <br></br>
           
        <a href="/kaikki">Kaikki uutiset</a>
        <br></br>
        <a href="/form">Ilmoita uusi lääketieteellinen uutisesi</a>
        
        
    </body>
</html>


