<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kategorian nimi</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1 th:text="${kategoria.nimi}">Kategorian nimi</h1>
        <ol>
            <li>
                <a th:each="uutinen : ${uutiset}">
                    <span th:text="${uutinen.otsikko + ' ' + uutinen.julkaisuAika}"> Uutisen otsikko ja julkaisuaika</span>
                </a>
                
<!--                Katso tehtävästä mitä tämän templaten pitäisi pystyä näyttämään!-->
            </li>
        </ol>
    </body>
</html>
