<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1 th:text="${uutinen.otsikko}"> Uutisen otsikko</h1>
        <h2 th:text="${uutinen.kategoriat}"> Uutisen kategoriat</h2>
        <h4 th:text="${uutinen.julkaisuAika} + ' ' + ${uutinen.kirjoittajat}">Uutisen julkaisuaika</h4>
<!--        <div>
            <img th:src="@{/{id}/content(id=${current})}"/>
        </div>-->
        <h3 th:text="${uutinen.ingressi}"> Uutisen ingressi</h3>
        <p th:text="${uutinen.teksti}">Uutisen teksti</p>
        
<!--        Tänne vielä kuva niin rupeaa olemaan valmis!-->
    </body>
</html>
