<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title></title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1 th:text="${uutinen.otsikko}"> Uutisen otsikko</h1>
        <ul>
            <li th:each="kategoria : ${kategoriat}">
                <span th:text="${kategoria.nimi}"></span>
            </li>
        </ul>
        <ol>
            <li th:each="kirjoittaja : ${kirjoittajat}">
                <span th:text="${kirjoittaja.nimi}"></span>
            </li>
        </ol>
        <h4 th:text="${uutinen.julkaisuAika}">Uutisen julkaisuaika</h4>
        <img th:src="@{/files/{id}(id=${uutinen.id})}"></img>
        <h3 th:text="${uutinen.ingressi}"> Uutisen ingressi</h3>
        <p th:text="${uutinen.teksti}">Uutisen teksti</p>
       
    </body>
</html>
